.header__menu {
  display: none;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
  .header {
    margin-bottom: 12px;
  }
  .header__logo {
    margin-right: 0;
    height: 48px;
  }

  .header__menu {
    position: absolute;
    display: block;
    right: 3px;
    top: 7px;
    height: 48px;
    width: 48px;
    border-style: none;
    background: transparent;
    font-size: 2.5em;
    outline: none;
  }

  .header__title {
    margin: .75em 0;
    font-size: 1.7em;
  }

  .nav {
    position: absolute;
    width: 150px;
    top: 60px;
    left: -150px;
    z-index: 1;

    background: transparent;
    transform: translateX(0px);
    transition: transform .3s ease;
  }

  .nav.open {
    transform: translateX(150px);
  }

  .nav__item {
    display: block;
    width: 150px;
    background: linear-gradient(180deg, #fff, #fafafa);
  }

  td:first-child,
  th:first-child {
    display: none;
  }

  .snippet__thumbnail {
    display: none;
  }
}

@media screen and (max-width: 525px) {
  .hero__caption {
    font-size: 1.2em;
  }

  .hero p {
    font-size: .8em;
  }
}

@media screen and (min-width: 401px) and (max-width: 525px) {
  .header__logo {
    height: 54px;
  }
  .header__title {
    margin: .75em 0;
    font-size: 2.3em;
  }
}

@media screen and (min-width: 650px) {
  .hero,
  .scores {
    width: 60%;
  }
  .top-news,
  .weather {
    width: 40%;
  }
}

@media screen and (min-width: 800px) {
  body {
    width: 800px;
    margin: 0 auto;
  }
}
